

.form-login{

    background-image: url('../../../../img/backlogin.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 101vh;
    text-align: center;
    h2{
        text-align: center;
        padding-top: 12rem;
        padding-bottom: 15px
    }
    button{
        background-color: #29e;
        width: 50%;
        border: none;
    }

    .ant-input{
        height: 2rem;
    }

}